//* GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Staatliches&display=swap");

:root {
  //* colors
  --white: #ffffff;
  --off-white: #fdfbf9;
  --black: #000000;
  --green-light: #eef5dc;
  --green-dark: #ced274;
  //* font size for rems units
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

// utils classes => should be in a partial _utils.scss file
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
